.header-menu {
    height: 46px;
    background: #333333;
}

.z-index {
    z-index: 20;
}

.fixed {
    position: fixed;
}

.float-search {
    margin-top: 11px;
    float: right;
}

.search-style {
    border-radius: 4px;
    /*float: right;*/
}

.logout {
    margin: 7px 0 0 0;
    width: 25%;
    text-align: end;
}

.inline-flex {
    display: inline-flex;
}

.menu-text {
    color: antiquewhite;
    text-decoration: none;
}

.max-width {
    width: 100%;
}

.input-margin {
    margin-left: 3px;
    margin-right: 3px;
}

@media screen and (max-width: 768px){
    #user-welcome {
        /*display: none;*/
        text-align: center;
    }

    .logout {
        text-align: center;
    }

    /*#login-text {*/
        /*display: none;*/
    /*}*/

    #top-rated {
        display: none;
    }

    #movie-list {
        display: none;
    }

    #login-form {
        margin-right: 15px;
    }

}

@media screen and (max-width: 1024px){

    #login-text {
        display: none;
    }

}