.inline {
    display: inline;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.movie-container {
    margin: 10px;
    display: inline-block;
    width: 100%;
}

.video-container {
    width: 100%;
    height: 50%;
}

.movie-list {
    max-width: 70%;
    margin: auto;
}

.movie-info {
    display: inline-block;
    float: left;
    /*max-width: 55%;*/
}

.movie-trailer {
    display: inline-block;
    float: right;
    /*max-width: 45%;*/
}

.padding-top {
    padding-top: 46px;
}

.header-menu {
    width: 100%;
    height: 46px;
    background: #333333;
}

/*.header-inner {*/
    /*!*width: 20%;*!*/
    /*padding: 10px 0px 10px 0px;*/
/*}*/

/*.float-right {*/
    /*float: right;*/
    /*padding-right: 10px;*/
/*}*/

/*.z-index {*/
    /*z-index: 20;*/
/*}*/

/*.fixed {*/
    /*position: fixed;*/
/*}*/

.remove-link-style {
    color:#333;
    text-decoration: none;
}

.remove-link-style:link {
    color:#333;
    text-decoration: none;
}

.remove-link-style:visited {
    color:#333;
    text-decoration: none;
}

.remove-link-style:hover {
    color:#333;
    text-decoration: none;
}

.remove-link-style:active {
    color:#333;
    text-decoration: none;
}

.center-text {
    text-align: center;
}

.body-style {
    background-color: beige;
    /*background-color: #e3e2dd;*/
    font-family: Verdana, Arial, sans-serif;
    color: #333;
    font-size: 16px;
}

/*.input[type="text"], textarea {*/
    /*background-color: #efefd6 !important;*/
/*}*/
#empty-set {
    border: 1px;
    border-style: double;
    border-color: darkgray;
    border-radius: 4px;
    text-align: center;
    /*margin: 10px auto 10px auto;*/
    margin: auto;
    background-color: #ccf1ff;
    width: 40%;
}

@media screen and (max-width: 768px) {

    #empty-set {
        width: 100%;
    }

}